// Navigation Styles here
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1.5px dashed gray;

    @media @mobile {
        .center;
    }

    .nav-container {
        display: flex;
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        justify-content: space-between;

        @media @mobile {
            flex-direction: column;
            .center;
        }

    
        h1 {
        padding: 20px 0;

        @media @mobile {
            .center;
        }
        }
    }

        nav {
        align-self: center;
        display: flex;
        justify-content: space-between;
        width: 40%;
        padding-right: 3%;

        @media @mobile {
            justify-content: space-around;
            width: 100%;
        }

            a {
            font-size: 1.6rem;
            font-weight: bold;
            text-decoration: none;
            color: black;
            }
    }
}



